<html>
    <head>

    </head>
    <body>
        <h1>OIDC Redirect Result</h1>
        <div><label>Code:&nbsp;</label><span><%= body.code %></span></div>
        <div><label>State:&nbsp;</label><span><%= body.state %></span></div>
        <div><label>Issuer:&nbsp;</label><span><%= body.iss %></span></div>
    </body>
</html>